{% extends "article/layout.html" %}

{% block body %}

<div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h3 class="fw-bolder mb-1">{{article.title}}</h3>
                            <br>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on {{article.created_date}}</div>
                            <div class="text"> {{article.author.username}} tarafından yayınlandı</div>
                            <hr>
                            <!-- Post categories-->
                            
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">{{article.content}}</p>
                            
                        </section>
                    </article>
                    <hr>
                    <h4>Yorumlar</h4>
                    <hr>
                  
                    {% if comments %}
                    {% for i in comments  %}

                    <div class="d-flex">
                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">{{i.comment_author}}</div>
                            <div>{{i.comment_date}}</div><br>
                            <div>{{i.comment_content}}</div>
                        </div>
                    </div>
                    <br>
                    
                    {% endfor %}
                    <!-- Single comment-->
                                        
                    {% else %}
                    <div class="alert alert-warning">Bu makaleye henüz bir yorum yapılmadı</div>
                    {% endif %}
                    
                    <div class="card bg-light">
                        <h6 class="card-header">Yorum Bırak</h6>
                        <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4" method="POST" action="{% url 'article:comment' article.id %}">
                            {% csrf_token %}
                            <textarea name="comment_content" class="form-control" rows="3" placeholder="leave a comment!"></textarea>
                        <div style="margin-top:10px" class="input-group">
                            <span class="input-group-text">İsminiz</span>
                            <input name="comment_author" type="text" class="form-control">
                        </div>                      
                        <button style="margin-top:10px" type="submit" class="btn btn-primary">Gönder</button>
                        </form>
                </div>
    

{% endblock body %}