<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">Libre Gaudium 1.0</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'about' %}">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'article:articles' %}">Makaleler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
      </ul>
      <ul class= "navbar-nav ml-auto">
        {% if request.user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'article:dashboard' %}">Kontrol Paneli</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'user:logout' %}">Çıkış Yap</a>
            </li>
              
        {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:login' %}">Giriş Yap</a>
          </li>

        {% endif %}    
          
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:register' %}">Kayıt Ol</a>
          </li>
        
        
      </ul>
    </div>
  </div>
</nav>